@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Zeyada&display=swap');
/* Styles for Mobile Layout*/
body{
	background-image:url(img/2/Horizontal/surf.JPG);
}
header, main, footer{
	max-width: 1200px;
	min-width: 350px;
	margin: auto;
}
header{
	font-family: 'Cinzel', serif;
}
h1{
	text-align: center;
	margin: 20px 0px 10px;
}
h1::first-letter{
	font-size: 1.3em;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content:center;
	padding-left: 0px;
	margin-top: 5px;
}
li{
	list-style: none;
	font-size: 0.8em;
	border-left: 1px solid slategray;
	padding-left: 1.1em;
	padding-right: 1.1em;
}
li:nth-of-type(1){
	border-left: 0px;
}
li:nth-of-type(2){
	font-weight: bold;
}
main{
	display: flex;
	flex-direction: column;
}
.leftside, .rightside, .middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
main img{
	width: 80%;
	height: 100%;
	margin: 10px;
	transition: 0.5s;
}
footer nav{
	margin-top: 15px;
	padding-top: 5px;
}
footer a{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	padding: 3px 5px 3px;
}
a:link{
	color: black;
}
a:visited{
	color: black	;
	text-decoration: underline;
}
a:hover{
	background-color: white;
}
a:active{
	background-color: black;
	color: white;
}
main img:hover{
	transform: scale(1.05,1.05);
}
.claim{
	font-size: 0.8em;
	padding: 5px 0px 15px;
	text-align: center;
}
footer{
	background-color: white;
}

/*This is a media query; it's saying that the following styles will not 
take effect when the window is below 800px in width.*/
@media screen and (min-width: 800px)

{
	.leftside, .middle, .rightside{
		width: 33%;
		margin-left: 10px;
		margin-right: 10px;
	}
	main{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	main img{
		margin: 10px;
	}

	/*Styles for desktop layout go here, including the three-column grid.*/

}